*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 15px 20px;
}

.logo{
    font-size: 49px;
  
    margin-left: 30px;
    color: rgb(224, 140, 14);
   
}

.first{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
   
    
}

.bar{
    height: 50px;
    margin-right: 30px;

}
.bar img{
    height: 100%;
    display: none;
}


nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(121, 121, 121);
}

a:hover{
    color: rgb(215, 8, 8);
}

section{
   
    display: flex;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    color: rgb(164, 164, 236);
   background-color: #e1dcdc;
  
}

.sec{
        font-size: 40px;
}




.pic{
   
    width: 60%;
    height: 60%;
}
.pic img{
    width: 100%;
    object-fit: cover;
    
}




/* .content{
    height: 100vh;
    margin-top: 70px;


}


.half{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
} */


.content {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.half {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  border: 1px solid #ccc;
}







.half div {
  width: 100%;
  max-width: 800px;
  font-size: 1rem;
}




.half div{
    width: 50%;
    font-size: 30px;
   
}

.heading{
    color: blue;
    font-size: 40px;
    margin-bottom: 30px ;
}

.footer{
    height: 7vh;
    width: 100vw;
    background-color: blue;
    display: flex;
   gap: 10px;
    align-items: center;
    margin-top: 30px;
    
}

.footer p{
    color: white;
    gap: 10px;
}


@media (max-width:800px) {
  
   /* .first{
    display: flex;
    justify-content: space-between;
   } */
   
    .bar img{
        display: block;
    

    }
    
    
    
    
    
    
    nav{
    
    display: none;
    
}
    
    
    
    
    
    
    
    section{
   
    display: flex;
    flex-wrap: wrap-reverse;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
     padding: 40px 20px;
    color: rgb(164, 164, 236);
    background-color: #e1dcdc;
   
}

.sec{
   
    
     font-size: 30px;
   
   
}




.pic{
   
    width: 100%;
}
.pic img{
    width: 100%;
    object-fit: cover;
    
}

}














/* CSS-FOR-THE-SECOND-PART */
.photo{
    height: 400px;
    border: 1px solid;
  
    object-fit: contain;
}

.photo img{
    width: 100%;
    height: 100%;
}

.dusra{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text1{
    height: 1000px solid;
    
    padding: 20px;
    width: 70%;
}

.head{
    font-size: 1.5vw;
    color: #848080;
   border-bottom: 1px solid;
   padding-bottom: 12px;
}

.section{
    font-size: 1.1vw;
    border-bottom: 1px solid;
    margin-top: 1vw;
    color: #848080;
    padding-bottom: 20px;
}

.linkd{
 
   
    padding: 10px 20px;
    display: flex;
    justify-content: end;
    width: 75%;
    /* border-bottom: 1px solid; */
}

.photo1{
    height: 70px;
    /* border: 1px solid; */
    width: 10%;
    /* border-bottom: 1px solid ; */
}

.photo1 img{
    height: 100%;
    width: 100%;
}

.last{
    display: flex;
    justify-content: center;

}
.lastpara{
    height: 200px;
    /* border: 1px solid; */
    width: 70%;
    margin-left: 2.3vw;
    margin-bottom: 1.5vw;

}

.lastpara1{
    font-size: 1.5vw;
    color: rgb(17, 123, 123);
    border-top: 1px solid;
    padding-top: 10px;
    
    
    
}

.lastpara2{
    font-size: 1.1vw;
}

.lastpara3{
    font-size: 1.1vw;
}
